
@{
    ViewBag.Title = "RemitosRepartidores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-top: 50px;">
    <h2 class="h2 text-center">REMITO REPARTIDORES</h2>
    <br />
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-3 col-sm-4 col-xs-3"></div>
            <div class="col-md-6 col-sm-4 col-xs-6">
                <div class="form-group">
                    <label class="control-label col-sm-3">Fecha</label>
                    <div class="col-sm-7">
                        <input type="date" id="txtFecha" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Repartidores</label>
                    <div class="col-sm-7">
                        @Html.Partial("comboUsuarios")
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Vuelta</label>
                    <div class="col-sm-7">
                        <select class="form-control" id="cmbVueltas">
                            <option value="">Elija una vuelta</option>
                            <option value="1">Vuelta I</option>
                            <option value="2">Vuelta II</option>
                            <option value="3">Vuelta III</option>
                            <option value="4">Vuelta IV</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-block btn-warning" id="btnGenerar" style="color: #000000;">Generar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-3"></div>
        </div>
    </div>
</div>

@section Scripts {

<script type="text/javascript">

    $(document).ready(function () {

        CargarFechas();

        //Cargarmos los datepickers
        function CargarFechas() {

            var dia = new Date();
            dia = new Date(dia.getFullYear(), dia.getMonth(), 1).toISOString().substr(0, 10);

            document.getElementById("txtFecha").value = dia;
        }

    });

    function ValidarDatos(objError, fecha, repartidor, vuelta)
    {
        if (fecha == "" || fecha == null || fecha == undefined)
        {
            objError.bPuede = false;
            objError.msj = "La fecha no puede ser nula o vacía";
        }

        if (repartidor == "" || repartidor == null || repartidor == undefined) {
            objError.bPuede = false;
            objError.msj = "Debe elegir un repartidor";
        }

        if (vuelta == "" || vuelta == null || vuelta == undefined) {
            objError.bPuede = false;
            objError.msj = "Debe elegir una vuelta";
        }

        return objError.bPuede;
    }

    $('#btnGenerar').click(function (e) {
        GetRemitoRepartidor();
    });

    function GetRemitoRepartidor() {

        var fecha = $('#txtFecha').val();
        var repartidor = $('#cmbUsuarios').val();
        var vuelta = $('#cmbVueltas').val();
        var objError = { bPuede: true, msj: "" };

        if (ValidarDatos(objError, fecha, repartidor, vuelta))
        {
            $.ajax({

                method: 'POST',
                url: '@Url.Action("PuedeObtenerRemito","Informe")?xdFecha=' + fecha + '&xsRepartidor=' + repartidor + '&xiVuelta=' + vuelta,
                success: function (response) {
                    console.log(response)
                    if (response.length > 0)
                        Reporte(fecha, repartidor, vuelta);
                    else
                    {
                        swal({
                            title: "Atención",
                            text: "No se encontraron resultados para la búsqueda",
                            icon: "warning",
                            button: "Aceptar"
                        });
                    }
                },
                error: function (error) {

                    swal({
                        title: "Atención",
                        text: error,
                        icon: "warning",
                        button: "Aceptar"
                    });
                }

            });
        }
        else
        {
            swal({
                title: "Atención",
                text: objError.msj,
                icon: "warning",
                button: "Aceptar"
            });
        }
    }

    function Reporte(fecha, repartidor, vuelta)
    {
        var url = '@Url.Action("GetRemitoRepartidor","Reporte")?xdFecha=' + fecha + '&xsRepartidor=' + repartidor + '&xiVuelta=' + vuelta;
        window.open(url);
    }

    </script>

}

