
@{
    ViewBag.Title = "RemitosRepartidores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-top: 50px;">
    <h2 class="h2 text-center">REMITO REPARTIDORES</h2>
    <br />
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-3 col-sm-4 col-xs-3"></div>
            <div class="col-md-6 col-sm-4 col-xs-6">
                <div class="form-group">
                    <label class="control-label col-sm-3">Fecha</label>
                    <div class="col-sm-7">
                        <input type="date" id="txtFecha" class="form-control" />
                    </div>
                </div>
                @*<div class="form-group">
                    <label class="control-label col-sm-3">Hasta</label>
                    <div class="col-sm-7">
                        <input type="date" id="txtFechaHasta" class="form-control" />
                    </div>
                </div>*@
                <div class="form-group">
                    <label class="control-label col-sm-3">Repartidores</label>
                    <div class="col-sm-7">
                        @Html.Partial("comboUsuarios")
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-block btn-warning" id="btnGenerar" style="color: #000000;">Generar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-3"></div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

    $(document).ready(function () {

        CargarFechas();

        //Cargarmos los datepickers
        function CargarFechas() {

            var today = new Date();
            var anio = today.getFullYear();
            var mes = today.getMonth() + 1;
            var dia = today.getDate();

            if (mes < 10)
                mes = '0' + mes;

            if (dia < 10)
                dia = '0' + dia;

            var fecha = anio + '-' + mes + '-' + dia;

            document.getElementById("txtFecha").value = fecha;
        }

    });

    function ValidarDatos(objError, fecha, repartidor)
    {
        if (fecha == "" || fecha == null || fecha == undefined)
        {
            objError.bPuede = false;
            objError.msj = "La fecha no puede ser nula o vacía";
        }

        if (repartidor == "" || repartidor == null || repartidor == undefined) {
            objError.bPuede = false;
            objError.msj = "Debe elegir un repartidor";
        }

        return objError.bPuede;
    }

    $('#btnGenerar').click(function (e) {
        GetRemitoRepartidor();
    });

    function GetRemitoRepartidor() {

        var fecha = $('#txtFecha').val();
        var repartidor = $('#cmbUsuarios').val();
        var objError = { bPuede: true, msj: "" };

        if (ValidarDatos(objError, fecha, repartidor))
        {
            $.ajax({

                method: 'POST',
                url: '@Url.Action("PuedeObtenerRemito","Informe")?xdFecha=' + fecha + '&xsRepartidor=' + repartidor,
                success: function (response) {

                    if (response.length > 0)
                        Reporte(fecha, repartidor);
                    else
                    {
                        swal({
                            title: "Atención",
                            text: "No se encontraron resultados para la búsqueda",
                            icon: "warning",
                            button: "Aceptar"
                        });
                    }
                },
                error: function (error) {

                    swal({
                        title: "Atención",
                        text: error,
                        icon: "warning",
                        button: "Aceptar"
                    });
                }

            });
        }
        else
        {
            swal({
                title: "Atención",
                text: objError.msj,
                icon: "warning",
                button: "Aceptar"
            });
        }
    }

    function Reporte(fecha, repartidor)
    {
        var url = '@Url.Action("GetRemitoRepartidor","Reporte")?xdFecha=' + fecha + '&xsRepartidor=' + repartidor;
        window.open(url);
    }

    </script>

}

