
@{
    ViewBag.Title = "Rendicion de Pedidos";
}

<div style="padding-top: 50px;">
    <h2 class="h2 text-center">RENDICION DE PEDIDOS</h2>
    <br />
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-3 col-sm-4 col-xs-3"></div>
            <div class="col-md-6 col-sm-4 col-xs-6">
                <div class="form-group">
                    <label class="control-label col-sm-3">Desde</label>
                    <div class="col-sm-7">
                        <input type="date" id="txtFechaDesde" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                        <label class="control-label col-sm-3">Hasta</label>
                            <div class="col-sm-7">
                             <input type="date" id="txtFechaHasta" class="form-control" />
                            </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-15 text-center">
                        <div class="checkbox">
                            <label><input type="checkbox" id="chkRendido">Solo pedidos sin rendir</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-block btn-warning" id="btnGenerar" style="color: #000000;">Generar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-3"></div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

    $(document).ready(function () {

        CargarFechas();

        //Cargarmos los datepickers
        function CargarFechas() {

            var diaDesde = new Date();
            diaDesde = new Date(diaDesde.getFullYear(), diaDesde.getMonth(), 1).toISOString().substr(0, 10);

            var diaHasta = new Date();
            diaHasta = new Date(diaHasta.setDate(diaHasta.getDate() + 1)).toISOString().substr(0, 10);

            document.getElementById("txtFechaDesde").value = diaDesde;
            document.getElementById("txtFechaHasta").value = diaHasta;
        }

    });

    function ValidarDatos(objError, desde, hasta)
    {
        if (desde == "" || desde == null || desde == undefined)
        {
            objError.bPuede = false;
            objError.msj = "La fecha desde no puede ser nula o vacía";
        }

        if (hasta == "" || hasta == null || hasta == undefined)
        {
            objError.bPuede = false;
            objError.msj = "La fecha hasta no puede ser nula o vacía";
        }

        return objError.bPuede;
    }

    $('#btnGenerar').click(function (e) {
        RptRendicionPedidos();
    });

    function RptRendicionPedidos() {

        var fechaDesde = $('#txtFechaDesde').val();
        var fechaHasta = $('#txtFechaHasta').val();
        var rendido = $('#chkRendido').prop('checked') ? 'N' : 'S';
        var objError = { bPuede: true, msj: "" };

        if (ValidarDatos(objError, fechaDesde, fechaHasta,rendido))
        {
            $.ajax({

                method: 'POST',
                url: '@Url.Action("PuedeObtenerRendicion", "Informe")?xdFechaDesde=' + fechaDesde + '&xdFechaHasta=' + fechaHasta + '&xdRendido=' + rendido,
                success: function (response) {
                    console.log(response)
                    if (response.length > 0)
                        Reporte(fechaDesde, fechaHasta, rendido);
                    else {
                        swal({
                            title: "Atención",
                            text: "No se encontraron resultados para la búsqueda",
                            icon: "warning",
                            button: "Aceptar"
                        });
                    }
                },
                error: function (error) {

                    swal({
                        title: "Atención",
                        text: error,
                        icon: "warning",
                        button: "Aceptar"
                    });
                }

            });
        }
        else
        {
            swal({
                title: "Atención",
                text: objError.msj,
                icon: "warning",
                button: "Aceptar"
            });
        }
    }

    function Reporte(fechaDesde, fechaHasta, rendido)
    {
        var url = '@Url.Action("RptRendicionPedidos","Reporte")?xdFechaDesde=' + fechaDesde + '&xdFechaHasta=' + fechaHasta + '&xdRendido=' + rendido;
        window.open(url);
    }

    </script>

}

