@font-face {
  font-family: myFirstFont;
  src: url(../Fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: hFont;
  src: url(../Fonts/Raleway-Regular.ttf);
}

h1,h2,h3,h4,h5,h6 {
    font-family: hFont !important;
}

body {
    font-family: myFirstFont;
    font-size: 16px;
    background-color:#ddd;
}

.panel {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.input-group {
    margin-bottom: 10px;
}

.form-group > .col-sm-8 > .input-group {
    margin-bottom: 0;
}

.label-addon {
    min-width: 40px;
    text-align: center;
}

.panel-primary {
    border: 0;
}

.btn-default, 
.btn-primary, 
.btn-success, 
.btn-danger, 
.btn-info, 
.btn-warning {
    border: 0;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.btn-default.btn-xs, 
.btn-primary.btn-xs, 
.btn-success.btn-xs, 
.btn-danger.btn-xs, 
.btn-info.btn-xs, 
.btn-warning.btn-xs {
    box-shadow: none;
}

#tableClientes, #tableProductos, #EditorTable, #tablePedidos {
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

#tableClientes thead tr td,
#tableProductos thead tr td,
#EditorTable thead tr td,
#tablePedidos thead tr td {
    font-weight: bolder; 
    font-size: 14px;
    background-color: #333;
    color: antiquewhite;
    border-bottom: 0;
}

#tableClientes tbody tr td,
#tableProductos tbody tr td,
#EditorTable tbody tr td
#tablePedidos tbody tr td {
    font-size: 14px;
}

#tableClientes thead tr td,
#tableProductos thead tr td,
#EditorTable thead tr td,
#tablePedidos thead tr td,
#tableClientes tbody tr td,
#tableProductos tbody tr td,
#EditorTable tbody tr td,
#tablePedidos tbody tr td  {
    text-align: center;
}


.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: unset;
    display: inline-block;
    min-width: 0;
    padding: 0;
    margin-left: 0;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    background-color: #ccc;
    border-color: #ccc;
    border: 0;
    border-radius: 4px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 0;
}

.form-group > label::after {
    content: ":";
}

.form-horizontal > .control-label.col-sm-2{
    text-align:left;
}

.navbar-default {
  background-color: #e12003;
  border-color: #f4edeb;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #1d1d1e;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #1d1d1e;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #1d1d1e;
  background-color: #f4edeb;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #1d1d1e;
  background-color: #f4edeb;
}
.navbar-default .navbar-toggle {
  border-color: #f4edeb;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #f4edeb;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #1d1d1e;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #1d1d1e;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #1d1d1e;
    background-color: #f4edeb;
  }
}
