body {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    background-color:aliceblue;
}

.panel {
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-group {
    margin-bottom: 10px;
}

.label-addon {
    min-width: 40px;
    text-align: center;
    background-color: #2657bd;
    color: white;
}

#tableClientes {
    font-size: 16px;
    text-align:center;
}

#tableClientes thead tr td {
    font-weight: bolder; 
    font-size: 18px;
    border-bottom: 1px solid black;
}

#tableClientes tbody tr td {
    border-bottom: 1px solid black;
    font-size: 14px;
}

.form-control {
    border-radius: 2px;
}

.btn-primary {
    background-color: #2657bd;
}