@font-face {
    font-family: miFuente;
    src: url(../Fonts/Roboto-Medium.ttf);
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ddd;
}

.menu {
	line-height: 65px;
	border-bottom: 1px solid black;
	background-color: #002374;
}

.menu-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

ul {
	list-style: none;
}

ul > li > a {
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 20px;
	padding-bottom: 20px;
	transition: 1s ;
}

ul > li > a:hover {
	border-bottom: 1px solid white;
}

.active {
	border-bottom: 1px solid white;
}

#btn {
	border: 2px solid #002374;
  	background-color: #002374;
  	color: white;
  	font-size: 18px;
  	cursor: pointer;
  	outline: none; 
}

#btn-collapse {
	display: none;
}

#main-content {
	margin-top: 25px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
	display: flex;
	flex-direction: row;
    padding-top: 10px;
}

.col-1, .col-2, .col-3, .col-4, 
.col-5, .col-6, .col-7, .col-8, 
.col-9, .col-10, .col-11, .col-12 {
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
}

.col-1, .col-2, .col-3, .col-4, 
.col-5, .col-6, .col-7, .col-8, 
.col-9, .col-10, .col-11, .col-12 {
	float: left;
}

.col-12 {
	width: 100%;
}
.col-11 {
	width: 91.66%;
}
.col-10 {
	width: 83.33%;
}
.col-9 {
	width: 75%;
}
.col-8 {
	width: 66.66%;
}
.col-7 {
	width: 58.33%;
}
.col-6 {
	width: 50%;
}
.col-5 {
	width: 41.66%;
}
.col-4 {
	width: 33.33%;
}
.col-3 {
	width: 25%;
}
.col-2 {
	width: 16.66%;
}
.col-1 {
	width: 8.33%;
}

.input {
	display: block;
	width: 100%;
	padding: 10px 15px;
	border-radius: 5px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	outline: none;
	font-size: 14px;
	-webkit-transition: 0.5s;
    transition: 0.5s;
}

.input-circle {
	display: block;
	width: 100%;
	padding: 10px 15px;
	border-radius: 50px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	outline: none;
	font-size: 14px;
	-webkit-transition: 0.5s;
    transition: 0.5s;
}

.input:focus {
	border: 2px solid #555;
}

.input-circle:focus {
	border: 2px solid #555;
}


@media only screen and (min-width: 768px) {

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.col-s-12 {
	width: 100%;
}
.col-s-11 {
	width: 91.66%;
}
.col-s-10 {
	width: 83.33%;
}
.col-s-9 {
	width: 75%;
}
.col-s-8 {
	width: 66.66%;
}
.col-s-7 {
	width: 58.33%;
}
.col-s-6 {
	width: 50%;
}
.col-s-5 {
	width: 41.66%;
}
.col-s-4 {
	width: 33.33%;
}
.col-s-3 {
	width: 25%;
}
.col-s-2 {
	width: 16.66%;
}
.col-s-1 {
	width: 8.33%;
}

.col-s-1, .col-s-2, .col-s-3, 
.col-s-4, .col-s-5, .col-s-6,
.col-s-7, .col-s-8, .col-s-9,
.col-s-10, .col-s-11, .col-s-12 {
	float: left;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.left {
	float: left;
}

.right {
	float: right;
}

@media screen and (max-width: 768px) {
	
	.container {
		padding-left: 5px;
	}

	.menu {
		display: flex;
		flex-direction: column-reverse;
	}
	
	#btn-collapse {
		display: block;
		margin-left: 15px;
		margin-left: 90%;
	}

	.menu-bar {
		display: flex;
		flex-direction: column;
		z-index: 1;
	}

	a:hover {
		border-bottom: 0px;
	}

	ul > li > a {
		margin-left: 15px;
	}

	.row {
		display: block;
	}

	[class*="col-"] {
		width: 100%;
		float: left;
	}

}

.btn-block {
	width: 100%;
}

.btn-inverse {
	padding: 12px 24px;
	background-color: #000000;
	border: 0;
	color: #ffffff;
	cursor: pointer;
	border-radius: 4px; 
	font-size: 14px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

.btn-inverse:hover {
	background-color: #000000;
}

.btn-default {
	padding: 12px 24px;
	background-color: rgb(70, 88, 99);
	border: 0;
	color: #ffffff;
	cursor: pointer;
	border-radius: 4px; 
	font-size: 14px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

.btn-default:hover {
	background-color: rgb(49, 66, 77);
}

.btn-success {
	padding: 12px 24px;
	background-color: rgb(5, 160, 57);
	border: 0;
	color: #ffffff;
	cursor: pointer;
	border-radius: 4px; 
	font-size: 14px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

.btn-success:hover {
	background-color: rgb(2, 107, 37);
}

.btn-danger {
	padding: 12px 24px;
	background-color: rgb(233, 5, 5);
	border: 0;
	color: #ffffff;
	cursor: pointer;
	border-radius: 4px; 
	font-size: 14px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

.btn-danger:hover {
	background-color: rgb(218, 3, 3);
}

.btn-warning {
	padding: 12px 24px;
	background-color: orangered;
	border: 0;
	color: #ffffff;
	cursor: pointer;
	border-radius: 4px; 
	font-size: 14px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

.btn-warning:hover {
	background-color: rgb(233, 63, 2);
}

.btn-primary {
	padding: 12px 24px;
	background-color: #337ab7;
	border: 0;
	color: #ffffff;
	cursor: pointer;
	border-radius: 4px; 
	font-size: 14px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

.btn-primary:hover {
	background-color: #1b6eb8;
}

.btn-outline-inverse {
	padding: 10px 24px;
	background-color: #FFFFFF;
	border: 2px solid #000000;
	color: #000000;
	cursor: pointer;
	border-radius: 4px; 
	font-size: 14px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

.btn-outline-inverse:hover {
	background-color: #000000;
	color: #FFFFFF;
}

.btn-outline-default {
	padding: 10px 24px;
	background-color: #FFFFFF;
	border: 2px solid rgb(70, 88, 99);;
	color: rgb(70, 88, 99);;
	cursor: pointer;
	border-radius: 4px; 
	font-size: 14px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

.btn-outline-default:hover {
	background-color: rgb(70, 88, 99);;
	color: #FFFFFF;
}

.btn-outline-success {
	padding: 10px 24px;
	background-color: #FFFFFF;
	border: 2px solid rgb(5, 160, 57);
	color: rgb(5, 160, 57);
	cursor: pointer;
	border-radius: 4px; 
	font-size: 14px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

.btn-outline-success:hover {
	background-color: rgb(5, 160, 57);
	color: #FFFFFF;
}

.btn-outline-danger {
	padding: 10px 24px;
	background-color: #FFFFFF;
	border: 2px solid rgb(233, 5, 5);
	color: rgb(233, 5, 5);
	cursor: pointer;
	border-radius: 4px; 
	font-size: 14px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

.btn-outline-danger:hover {
	background-color: rgb(233, 5, 5);
	color: #FFFFFF;
}

.btn-outline-warning {
	padding: 10px 24px;
	background-color: #FFFFFF;
	border: 2px solid orangered;
	color: orangered;
	cursor: pointer;
	border-radius: 4px; 
	font-size: 14px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

.btn-outline-warning:hover {
	background-color: orangered;
	color: #FFFFFF;
}

.btn-outline-primary {
	padding: 10px 24px;
	background-color: #FFFFFF;
	border: 2px solid #337ab7;
	color: #337ab7;
	cursor: pointer;
	border-radius: 4px; 
	font-size: 14px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

.btn-outline-primary:hover {
	background-color: #337ab7;
	color: #FFFFFF;
}

.btn-circle {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.btn-circle > i {
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-90%, -30%);
    width: 10px;
    height: 10px;
    display: block;
}

.alert {
	padding: 14px 32px;	
	border-radius: 4px;
	font-size: 14px;
	opacity: 0.8;
}

.alert-primary {
	background-color: #337ab7;
	color: #FFFFFF;
}

.image-rsp {
	display: block;
	max-width: 100%;
	height: auto;
}

.center-block {
  margin-right: auto;
  margin-left: auto;
}

.panel {
	height: auto;
	min-height: 1px;
    border-radius: 5px;
	border: 0;
	padding: 15px;
    background-color: aliceblue;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.panel-heading {
	padding: 15px 25px;
	border-bottom: 1px solid transparent;
	border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
	background-color: #337ab7;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
}

.panel-primary {
	border-color: #337ab7;
}

.panel-primary > .panel-heading {
	color: #FFFFFF;
	background-color: #337ab7;
	border-color: #337ab7;
}

.panel-danger {
	border-color: rgb(233, 5, 5);
}

.panel-danger > .panel-heading {
	color: #FFFFFF;
	background-color: rgb(233, 5, 5);
	border-color: rgb(233, 5, 5);
}

.panel-warning {
	border-color: orangered;
}

.panel-warning > .panel-heading {
	color: #FFFFFF;
	background-color: orangered;
	border-color: orangered;
}

.panel-success {
	border-color: rgb(5, 160, 57);	
}

.panel-success > .panel-heading {
	color: #FFFFFF;
	background-color: rgb(5, 160, 57);
	border-color: rgb(5, 160, 57);
}

.panel-default {
	border-color: rgb(70, 88, 99);
}

.panel-default > .panel-heading {
	color: #FFFFFF;
	background-color: rgb(70, 88, 99);
	border-color: rgb(70, 88, 99);
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
    margin-top: 10px;
	border-collapse: collapse;
    border-radius: 4px;
}

.table > thead > tr {
	background-color: rgb(70, 88, 99);
	color: #FFFFFF;
	opacity: 0.9;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.1;
  vertical-align: top;
  border-top: 1px solid rgb(70, 88, 99);
  margin: 0;
  text-align: center;
  font-size: 15px;
}

.table > tbody > tr {
    border-bottom: 1px solid #7e7e7e;
}

.table-hover > thead > tr > th,
.table-hover > tbody > tr > th,
.table-hover > tfoot > tr > th,
.table-hover > thead > tr > td,
.table-hover > tbody > tr > td,
.table-hover > tfoot > tr > td {
	border-top: 1px solid darkcyan;
}

.table-hover > tbody > tr:hover {
	background-color: rgb(228, 227, 227);
}

.table-border > thead > tr > th,
.table-border > tbody > tr > th,
.table-border > tfoot > tr > th,
.table-border > thead > tr > td,
.table-border > tbody > tr > td,
.table-border > tfoot > tr > td {
	border: 1px solid darkcyan;
}

.table-compact > thead > tr > th,
.table-compact > tbody > tr > th,
.table-compact > tfoot > tr > th,
.table-compact > thead > tr > td,
.table-compact > tbody > tr > td,
.table-compact > tfoot > tr > td {
	line-height: 0.9;
}

.table-rsp {
	min-height: .01%;
	overflow-x: auto;
}

@media screen and (max-width: 767px) {	
	
	.table-rsp {
	  width: 100%;
	  margin-bottom: 15px;
	  overflow-y: hidden;
	  -ms-overflow-style: -ms-autohiding-scrollbar;
	  border: 1px solid #ddd;
	}
	.table-rsp > .table {
	  margin-bottom: 0;
	}
	.table-rsp > .table > thead > tr > th,
	.table-rsp > .table > tbody > tr > th,
	.table-rsp > .table > tfoot > tr > th,
	.table-rsp > .table > thead > tr > td,
	.table-rsp > .table > tbody > tr > td,
	.table-rsp > .table > tfoot > tr > td {
	  white-space: nowrap;
	}
	.table-rsp > .table-border {
	  border: 0;
	}
	.table-rsp > .table-border > thead > tr > th:first-child,
	.table-rsp > .table-border > tbody > tr > th:first-child,
	.table-rsp > .table-border > tfoot > tr > th:first-child,
	.table-rsp > .table-border > thead > tr > td:first-child,
	.table-rsp > .table-border > tbody > tr > td:first-child,
	.table-rsp > .table-border > tfoot > tr > td:first-child {
	  border-left: 0;
	}
	.table-rsp > .table-border > thead > tr > th:last-child,
	.table-rsp > .table-border > tbody > tr > th:last-child,
	.table-rsp > .table-border > tfoot > tr > th:last-child,
	.table-rsp > .table-border > thead > tr > td:last-child,
	.table-rsp > .table-border > tbody > tr > td:last-child,
	.table-rsp > .table-border > tfoot > tr > td:last-child {
	  border-right: 0;
	}
	.table-rsp > .table-border > tbody > tr:last-child > th,
	.table-rsp > .table-border > tfoot > tr:last-child > th,
	.table-rsp > .table-border > tbody > tr:last-child > td,
	.table-rsp > .table-border > tfoot > tr:last-child > td {
	  border-bottom: 0;
	}
  }

.input-icon input {	 
	padding-left: 45px;
}

.input-icon {
	position: relative;
}

.input-icon i {
	position: absolute;
	left: 0;
	top: 3px;
	padding: 9px 15px;
	color: #aaaaaa;
	transition: .3s;
}

.input-icon input:focus + i {
	color: cornflowerblue;
}

.dropdownlist {
	display: inline-block;
	position: relative;
}

.ddl-menu {
	display: none;
	position: absolute;
	width: 200px;
	height: auto;
	min-height: 1px;
	background-color: #ffffff;
	border: 2px solid rgb(70, 88, 99);
	border-radius: 3px;
	margin-top: 2px;
	z-index: 1;
}

.ddl-menu > li {
	padding: 8px 10px;
	text-decoration: none;
	cursor: pointer;
	border-bottom: 0.5px solid gray;
}

.ddl-menu > li:last-child {
	border-bottom: 0;
}

.ddl-menu  li  a {
	color: #000000;
	text-decoration: none;
	font-size: 14px;
}

.ddl-menu > li > a:hover {
	border-bottom: 0;
}

.ddl-menu > li:hover {
	background-color: #d1d1d1;
}

.ddl-icon {
	padding-left: 3px;
}

.open {
	display: block;
}

.container-carousel {
	height: auto;
	/* border: 1px solid black; */
	padding: 10px 10px 100px 10px;
	background-color: aliceblue;
	box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item {
	display: none;
}

.item-carousel {
	width: 100%;
}

.carousel-button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 0;
	cursor: pointer;
	background-color: #555;
	color: #ffffff;
	opacity: .6;
	outline:none;
}

.carousel-button:hover {
	background-color: #ccc;
	color: #555;
}

.container-carousel > .carousel-button {
	position: absolute;
}

.btn-carousel-right {
	top: 40%;
	right: 0;
	margin-right: 35px;
}

.btn-carousel-left {
	top: 40%;
	left: 0;
	margin-left: 35px;
}

.inner-text .item-title {
	font-size: 36px;
	margin-right: auto;
	margin-left: 45%;
}

.info-box {
	padding: 18px 10px;
	border-left: 5px solid #000;
	margin-right: auto;
	margin-left: auto;
}

.box-default {
	background-color: #95CFFF;
}

.box-default .content-box {
	color: #000;
}

.box-danger {
	background-color: rgb(218, 3, 3);
}

.box-danger .content-box {
	color: #fff;
}

.box-success {
	background-color: green;
}

.box-success .content-box {
	color: #fff;
}

select.input {
  height: 41px;
  line-height: 30px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 26px !important;
}

.center {
    text-align: center !important;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

@media only screen and (max-width: 480px) {

	.carousel-button {
		width: 35px;
		height: 35px;
	}

	.btn-carousel-right {
		top: 25%;
		right: 0;
		margin-right: 35px;
	}

	.btn-carousel-left {
		top: 25%;
		left: 0;
		margin-left: 35px;
	}

}

.pull-right {
  float: right !important;
}