<div class="modal fade bs-example-modal-lg" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Listado de Productos</h4>
                <hr />
                <div class="table-responsive">
                    <table class="table table-condensed table-hover">
                        <thead style="background-color: #337ab7; color: #ffffff;">
                            <tr style="text-align: center;">
                                <td>Producto</td>
                                <td>Cantidad de Packs</td>
                                <td>Precio de Venta</td>
                                <td>Monto</td>
                            </tr>
                        </thead>
                        <tbody id="BodyDetalle">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fas fa-check"></i>&nbsp;Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

