
@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-top: 50px;">
    <h2 class="h2 text-center">CLIENTES</h2>
    <div class="row">
        <div class="col-sm-12">
            <button id="btnNuevo" class="btn btn-default" data-toggle="modal" data-target="#NuevoForm"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;Nuevo Cliente</button>
        </div>
    </div>
    <br />
    <div class="row" id="tabla" style="display: none;">
        <div class="col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="tableClientes" class="table table-hover table-condensed table-bordered table-estilo" style="width:100%">
                            <thead>
                                <tr>
                                    <td>Nombre</td>
                                    <td>Provincia</td>
                                    <td>Localidad</td>
                                    <td>Dirección</td>
                                    <td>Teléfono</td>
                                    <td>Celular</td>
                                    <td>Acciones</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="NuevoForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Agregar/Modificar Clientes</h4>
                </div>
                <div class="modal-body">
                    <br />
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <form id="ClienteForm" class="form-horizontal">
                                <input type="hidden" id="txtId" name="id" />
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="txtNombre" name="nombre" placeholder="Nombre" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="txtDireccion" name="direccion" placeholder="Dirección" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        @Html.Partial("comboProvincias")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <select id="cmbLocalidades" class="form-control" disabled>
                                            <option value="">Elija una localidad</option>
                                            @foreach (var item in ViewBag.Localidades)
                                            {
                                                <option data-info="@item.loc_provincia" value="@item.loc_id">@item.loc_descr</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="email" class="form-control" id="txtMail" name="telefono" placeholder="Email" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="txtTelefono" name="telefono" placeholder="Teléfono" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="txtCelular" name="celular" placeholder="Celular" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="txtCelular2" name="celular2" placeholder="Celular Alternativo" />
                                    </div>
                                </div>
                            </form>
                            <div class="col-sm-2"></div>
                        </div>
                    </div>
 
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-success" type="submit" id="btnAgregar"><i class="fas fa-save"></i>&nbsp;Guardar</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i>&nbsp;Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/Scripts/Clientes.js"></script>
}

@section Styles {
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

}