
@{
    ViewBag.Title = "Tamanio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-top: 50px;">
    <h2 class="h2 text-center">TAMAÑOS</h2>
    <br />
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <button id="btnNuevo" class="btn btn-default" data-toggle="modal" data-target="#NuevoForm"><i class="fas fa-plus"></i>&nbsp;&nbsp;Nuevo Tamaño</button>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <br />
    <div class="row" id="tabla" style="display: none;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="tableTamanios" class="table table-hover table-condensed table-bordered table-estilo">
                            <thead>
                                <tr>
                                    <td>Descripción</td>
                                    <td>Acciones</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>

    <div class="modal fade" id="NuevoForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Agregar/Modificar Tamaños</h4>
                </div>
                <div class="modal-body">
                    <br />
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <form id="TamanioForm" class="form-horizontal">
                                <input type="hidden" id="txtId" name="id" />
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="txtTamanio" name="tamanio" placeholder="Tamaño" />
                                    </div>
                                </div>
                            </form>
                            <div class="col-sm-2"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-success" type="submit" id="btnGuardar"><i class="fas fa-save"></i>&nbsp;Guardar</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i>&nbsp;Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {

            //Mostrar con efecto FADE al cargar
            $("#tabla").show("fade", { percent: 0 }, 1500);

            //Cargamos la grilla al iniciar
            CargarDatos();

            function Limpiar() {
                $("#tableTamanios").dataTable().fnDestroy();
            }

            $('#NuevoForm').on('hidden.bs.modal', function (e) {

                $(this)
                  .find("input[type=text],textarea,select")
                     .val('')
                     .end()
                  .find("input[type=checkbox], input[type=radio]")
                     .prop("checked", "")
                     .end();

                $('#txtId').val(0);
            });

            function CargarDatos() {

                $.ajax({
                    method: 'GET',
                    url: '/Producto/GetTamanios',
                    success: function (response) {
                        if (response.error == '') {
                            var tabla = $('#tableTamanios').DataTable({
                                data: response.data,
                                select: true,
                                "info": false,
                                columns: [
                                    { 'data': 'tam_descripcion' },
                                    { 'defaultContent': '<button class="btn btn-success btn-xs" disabled title="Habilitar"><i class="fas fa-check"></i></button> <button class="btn btn-info btn-xs" title="Editar"><i class="fas fa-pencil-alt"></i></button> <button class="btn btn-danger btn-xs" title="Eliminar"><i class="fas fa-trash-alt"></i></button>' }
                                ],
                                aoColumnDefs: [
                                    { "aTargets": [1], "bSortable": false }
                                ],
                                "createdRow": function (row, data, dataIndex) {
                                    if (data.tam_delet == "S") {
                                        $(row).css('background-color', '#B8DBD9');
                                        $(row).find("td:eq(1)").find('.btn-danger').prop('disabled', true);
                                        $(row).find("td:eq(1)").find('.btn-success').prop('disabled', false);
                                    }
                                },
                                "language": {
                                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                                }
                            });

                            editarTamanio('#tableTamanios tbody', tabla);
                            eliminarTamanio('#tableTamanios tbody', tabla);
                            habilitarTamanio('#tableTamanios tbody', tabla);

                        }
                        else
                        {
                            swal({
                                title: "Error",
                                text: response.error,
                                icon: "warning",
                                buttons: "Aceptar"
                            });
                        }

                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }

            var editarTamanio = function (tbody, tabla) {

                $(tbody).off('click', 'button.btn-info.btn-xs');
                $(tbody).on('click', 'button.btn-info.btn-xs', function () {

                    var data = tabla.row($(this).parents('tr')).data();

                    $('#txtId').val(data.tam_id);
                    $('#txtTamanio').val(data.tam_descripcion);

                    $('#NuevoForm').modal('show');
                });
            }

            var habilitarTamanio = function (tbody, tabla) {

                $(tbody).off('click', 'button.btn-success.btn-xs');
                $(tbody).on('click', 'button.btn-success.btn-xs', function () {

                    var data = tabla.row($(this).parents('tr')).data();

                    var dataToPost = {
                        xiId: data.tam_id
                    }

                    swal({
                        title: "¿Está seguro que desea habilitar el siguiente tamaño?",
                        text: "",
                        icon: "warning",
                        buttons: ['Cancelar', 'Confirmar'],
                        dangerMode: true,
                    }).then(function (bHabilita) {
                        if (bHabilita) {
                            $.ajax({
                                method: 'POST',
                                url: '/Producto/PostHabilitarTamanio',
                                data: JSON.stringify(dataToPost),
                                contentType: 'application/json; charset=utf-8',
                                success: function (response) {
                                    if (response == '') {
                                        swal("El tamaño se habilitó correctamente", {
                                            icon: "success",
                                        });
                                        Limpiar();
                                        CargarDatos();
                                    }
                                    else {
                                        swal(response, {
                                            icon: "error",
                                            buttons: "Aceptar"
                                        });
                                    }
                                },
                                error: function (error) {
                                    console.log(error);
                                }
                            });
                        }
                    })
                });

            }

            var eliminarTamanio = function (tbody, tabla) {

                $(tbody).off('click', 'button.btn-danger.btn-xs');
                $(tbody).on('click', 'button.btn-danger.btn-xs', function () {

                    var data = tabla.row($(this).parents('tr')).data();
                    var dataToPost = {
                        xiId: data.tam_id
                    }

                    swal({
                        title: "¿Está seguro que desea deshabilitar el siguiente tamaño?",
                        text: "",
                        icon: "warning",
                        buttons: ['Cancelar', 'Confirmar'],
                        dangerMode: true,
                    }).then(function (bElimina) {
                        if (bElimina) {
                            $.ajax({
                                method: 'POST',
                                url: '/Producto/PostEliminarTamanio',
                                data: JSON.stringify(dataToPost),
                                contentType: 'application/json; charset=utf-8',
                                success: function (response) {
                                    if (response == '') {
                                        swal("El registro se eliminó correctamente", {
                                            icon: "success",
                                        });
                                        Limpiar();
                                        CargarDatos();
                                    }
                                    else {
                                        swal({
                                            title: "Error",
                                            text: response,
                                            icon: "error",
                                            buttons: "Aceptar"
                                        });
                                    }
                                },
                                error: function (error) {
                                    console.log(error);
                                }
                            });
                        }
                    })
                });

            }

            function PuedeGuardar()
            {
                var tamanio = $('#txtTamanio').val();
                if (tamanio == '' || tamanio == null || tamanio == undefined)
                    return false;
                else
                    return true;
            }

            function guardarTamanio() {

                if (PuedeGuardar())
                {
                    var dataToPost = {

                        Id: $('#txtId').val(),
                        Descripcion: $('#txtTamanio').val()
                    };

                    $.ajax({

                        method: 'POST',
                        url: '/Producto/PostGuardarTamanio',
                        data: JSON.stringify(dataToPost),
                        type: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            if (response == '') {
                                swal({
                                    title: 'Tamaños',
                                    text: 'Tamaño guardado correctamente',
                                    icon: 'success',
                                    button: 'Aceptar'
                                });
                                $('#NuevoForm').modal('hide');
                                Limpiar();
                                CargarDatos();
                            }
                            else {
                                swal({
                                    title: 'Tamaños',
                                    text: response,
                                    icon: 'warning',
                                    button: 'Aceptar'
                                });
                            }
                        },
                        error: function (error) {
                            swal({
                                title: 'Error',
                                text: error,
                                icon: 'error',
                                button: 'Aceptar'
                            });
                        }
                    });
                }
                else
                {
                    swal({
                        title: 'Atención',
                        text: 'Debe ingresar un tamaño',
                        icon: 'warning',
                        button: 'Aceptar'
                    });
                }
            }

            $('#btnGuardar').click(function (e) {
                e.preventDefault();
                guardarTamanio();
            });
        });
    </script>

}

@section Styles {

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

}





