
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EZ Distribuidora</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet" />
    <link href="~/Content/all.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>

    @*<video autoplay muted loop id="myVideo">
        <source src="~/Imagenes/fondo_ez.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>*@

    <div id="main-cnt" class="container">

        <!-- PANEL DE INICIO SESIÓN-->
        <div class="row">
            <div class="col-xs-1 col-sm-3"></div>
            <div class="col-xs-10 col-sm-6">

                <!-- FORMULARIO DE INICIO -->
                <div class="modal-content-login">
                    <div class="header">
                        <p>Bienvenido al sistema!</p>
                    </div>
                    <div class="body">
                        <div class="content">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Usuario</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="txtUsuario" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Contraseña</label>
                                    <div class="col-sm-10">
                                        <input type="password" id="txtPass" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        <button type="submit" id="btnIngresar" class="btn btn-danger btn-block">
                                            <span id="msjIngresar" style="display:block;">Ingresar</span>
                                            <span id="msjProcesar" style="display:none">Procesando&nbsp;&nbsp;<i class="fas fa-cog fa-spin"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 col-sm-3"></div>
        </div>
    </div> <!-- FINAL CONTAINER -->

    <!-- MODAL DE ERRORES -->
    <div class="modal fade" id="modalErrores" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Error al iniciar sesión</h4>
                </div>
                <div class="modal-body">
                    <p id="mensajeError"></p>
                </div>
            </div>
        </div>
    </div>
    <div id='bubbles'></div>
    <div id='bubbles2'></div>
    <div id='bubbles3'></div>


    <!--SVG-->
    <div id="coke">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="1020.15px" height="850.289px"
             xml:space="preserve" viewBox="0 0 1020.15 850.289">
<g>
        <path fill="#FFFFFF" d="M510.073,642.216c22.67,0,47.371-3.588,54.812-7.816c12.436-7.047,8.789-34.535,5.347-45.332
		c-2.413-7.605-7.773-20.559-7.761-47.496c0.03-28.92,9.496-84.852,9.926-88.322c0.711-5.783,2.121-11.551-1.032-12.859
		c3.865-2.877,0.771-74.189-5.985-76.936c3.421,0,2.208-7.98,1.497-13.487c-1.309-10.094-10.223-33.883-17.88-59.683
		c-3.413-11.514-8.769-28.884-10.519-41.769c-1.621-11.955-1.279-27.213-1.279-33.827c2.273-2.267,3.153-3.295,3.061-6.873
		c-0.103-3.727-4.868-12.819-4.868-14.12c0-1.3,0.042-2.865,1.729-4.396c1.859-1.696,1.758-4.649,0.958-7.068
		c-0.987-2.938-4.599-3.818-6.684-4.315c-1.903-0.461-11.452-1.413-21.319-1.413c-9.862,0-19.413,0.951-21.319,1.413
		c-2.082,0.498-5.695,1.377-6.673,4.315c-0.81,2.419-0.896,5.372,0.962,7.068c1.672,1.53,1.719,3.095,1.719,4.396
		c0,1.301-4.762,10.393-4.86,14.12c-0.094,3.578,0.774,4.605,3.052,6.873c0,6.614,0.343,21.873-1.276,33.827
		c-1.753,12.884-7.106,30.254-10.521,41.769c-7.657,25.8-16.559,49.588-17.867,59.683c-0.724,5.507-1.937,13.487,1.485,13.487
		c-6.761,2.746-9.854,74.059-5.984,76.936c-3.157,1.309-1.744,7.076-1.028,12.859c0.426,3.471,9.886,59.402,9.916,88.322
		c0.021,26.938-5.336,39.891-7.761,47.496c-3.436,10.797-7.08,38.285,5.349,45.332C462.71,638.628,487.402,642.216,510.073,642.216" />
        <polygon fill="#F40009" points="515.878,382.861 510.128,382.861 507.197,388.804 512.948,388.804 	" />
        <path fill="#F40009" d="M505.631,382.857h-6.247c-0.218,0.446-0.354,1.042-0.649,1.34c-6.292-7.792-14.908,8.762-17.676,13.752
		c-2.765,4.987-8.277,15.616-11.344,13.429c-2.842-2.036-0.143-10.781,1.704-15.027c1.592-3.656,6.019-10.809,8.153-9.575
		c0.796,0.462,0.697,1.697,0.406,2.384c-3.026,0.251-4.337,5.154-2.796,6.367c1.703,1.336,3.541-2.233,4.351-5.914
		c0.53-2.397,0.062-4.634-1.478-5.364c-4.577-2.172-9.248,5.728-10.123,7.305c-0.857,1.525-2.775,5.528-5.166,6.212
		c0.992-4.134,2.201-9.981-0.683-10.883c-3.478-1.079-6.523,7.531-7.595,11.188c-2.857,9.781-1.651,16.8,0.206,17.185
		c2.278,0.462,5.99-9.684,7.559-15.368c0.56-0.135,1.314-0.514,1.847-0.938c-1.825,5.521-1.923,8.896-1.923,10.776
		c0.019,3.521,1.766,5.954,2.867,6.223c4.388,1.062,7.602-4.405,10.234-7.91c-0.894,5.08-0.098,7.657,1.891,8.252
		c3.163,0.938,5.938-2.498,7.677-4.925c-0.111,1.938,0.313,4.309,1.684,4.947c1.576,0.744,3.764-0.439,4.899-1.327
		c3.453-2.677,8.281-9.229,11.823-15.582h-2.177c-4.552,8.071-8.137,10.697-9.037,10.308c-0.312-0.134-0.646-0.771-0.199-1.968
		C494.117,407.005,505.631,382.857,505.631,382.857 M458.38,410.187c-0.478,0-1.437-3.569,1.638-13.268
		c0.585,1.532,1.569,2.453,2.92,2.868C461.675,404.975,459.517,410.187,458.38,410.187 M463.49,397.877
		c-1.3-0.098-2.319-1.25-2.411-2.031c-0.415-3.555,1.943-6.465,2.708-6.248C465.25,389.99,464.242,394.923,463.49,397.877
		 M489.05,404.713c-1.271,2.373-3.499,5.728-4.998,5.364c-1.393-0.342-0.804-3.89,0.745-7.842c1.216-3.131,4.193-8.369,7.213-12.833
		c2.783-4.104,5.282-4.813,5.645-2.96C497.655,386.442,490.521,401.952,489.05,404.713" />
        <path fill="#F40009" d="M481.561,421.821c-13.146-2.325-20.762,4.345-25.405,2.514c-3.825-1.512-4.707-9.197-3.294-22.356
		c0.744-6.993,3.116-16.063,5.396-20.309c1.79-3.364,3.479-5.7,4.729-5.303c0.966,0.304,0.872,1.285,0.537,2.103
		c-2.128,0.679-3.119,5.968-1.787,6.346c1.094,0.32,2.449-2.558,3.094-5.986c0.327-1.718,0.037-4.315-1.241-5.008
		c-1.525-0.81-4.771,1.906-7.134,6.545c-3.035,5.953-5.305,14.45-6.152,21.061c-1.479,11.612-0.052,23.018,4.839,25.306
		c2.615,1.234,16.898-6.987,24.813,6.566c3.51-8.063,17.526-1.771,21.817,1.736C501.498,434.273,492.036,423.681,481.561,421.821" />
        <path fill="#F40009" d="M569.154,412.562c-1.598,5.749-3.422,8.3-3.821,8.343c-0.183,0.016-0.406-0.61-0.183-1.536
		c1.272-5.379,3.619-15.808,4.215-19.562l-2.187,0.184c-0.088,0.342-0.247,1.152-0.365,1.393c-2.642-6.979-7.495,5.862-9.005,10.294
		c-1.294,3.854-3.43,12.105-5.051,11.575c-0.727-0.24-0.094-5.778,1.169-13.09c4.214-4.912,7.569-13.116,8.863-17.931
		c0.387-1.42,0.713-2.888,0.974-4.277c-0.363,0.209-0.842,0.424-1.235,0.552c-0.247,1.249-0.515,2.43-0.798,3.458
		c-1.01,3.668-3.895,10.603-7.324,15.423c2.639-14.246,7.179-32.814,8.968-32.012c0.478,0.218,0.521,2.39,0.274,5.223
		c0.318-0.217,0.741-0.544,1.067-0.893c0.103-4.017-0.167-6.644-1.605-6.771c-2.833-0.257-7.858,14.729-11.006,29.452
		c-0.688,3.262-1.387,6.354-1.961,9.312c-0.604,0.382-1.207,0.644-1.811,0.76c0.98-4.133,1.926-10.927-0.851-12.125
		c-4.221-1.831-9.08,6.715-10.787,10.698c-5.491,12.766-4.772,19.508-1.481,20.19c6.299,1.33,11.145-11.397,12.727-17.082
		c0.626-0.117,1.251-0.333,1.861-0.64c-1.519,8.14-2.056,14.324,0.654,15.31c2.062,0.742,4.184-4.357,5.187-7.14
		c-0.182,4.003,0.718,5.179,1.612,5.63c1.425,0.711,3.72-3.241,4.388-5.158c-0.115,1.598,0.146,3.908,1.032,4.271
		c2.412,1.002,6.247-9.03,7.432-13.873L569.154,412.562z M539.761,424.653c-1.97-0.394-2.077-6.599,2.667-15.371
		c0.587,1.815,2.236,4.464,4.233,4.693C545.399,418.915,541.787,425.062,539.761,424.653 M547.134,412.378
		c-2.157-0.128-3.124-3.237-3.307-4.367c-0.537-3.222,2.442-6.07,3.794-5.074C549.089,404.016,547.883,409.424,547.134,412.378
		 M562.442,417.227c-0.655,1.823-1.556,4.436-2.456,4.166c-0.639-0.197-0.305-2.888,0.204-6.005
		c0.406-2.478,1.946-6.894,3.473-10.294c1.568-3.505,2.428-3.519,2.666-2.078C566.328,403.016,563.509,414.272,562.442,417.227" />
        <path fill="#F40009" d="M530.144,399.279c-5.101,0.766-10.236,7.99-11.139,20.794c2.042-2.788,3.916-5.237,6.801-6.875
		c0-3.861,3.306-11.55,6.298-10.586c2.695,0.869,0.423,9.982-2.077,14.767c-2.223,4.254-6.786,11.199-11.169,10.269
		c-3.013-0.652-4.573-4.561-4.479-7.827c0.452-15.191,11.041-30.813,14.464-35.656c3.429-4.842,8.244-8.928,11.413-9.483
		c1.066-0.197,1.845,0.155,2.396,0.832c-7.656,3.882-11.23,17.78-6.451,19.407c2.819,0.963,5.899-2.832,7.6-7.832
		c1.075-3.134,1.575-7,0.8-10.058c0.305-0.076,0.596-0.119,0.9-0.134c3.281-0.157,6.203,4.947,9.342,8.184
		c0.582-1.824,1.177-3.527,1.758-5.061c-3.247-2.483-7.481-6.091-11.448-5.364c-0.45,0.083-0.886,0.219-1.329,0.367
		c-0.988-1.816-2.694-3.051-5.383-3.187c-2.769-0.141-8.748,2.348-13.454,7.366c-11.171,11.927-16.021,23.909-18.381,33.426
		c-2.038,8.249-0.229,16.762,5.303,19.61c5.886,3.037,12.011-2.412,15.839-7.498c1.626-2.179,2.832-4.601,3.836-6.552
		c0.994-1.94,2.41-5.874,2.971-9.64C535.329,403.321,534.131,398.687,530.144,399.279 M543.473,377.394
		c0.611,2.688,0,6.673-0.857,8.922c-1.364,3.621-3.333,7.206-5.599,6.895C533.194,392.683,537.364,380.089,543.473,377.394" />
        <path fill="#F40009" d="M560.016,387.802c6.96,0.402,8.057-9.917,8.615-14.032c-1.498,5.3-3.792,8.466-7.112,8.528
		C561.032,383.94,560.524,385.799,560.016,387.802" />
        <path fill="#F40009" d="M570.331,424.48c-0.916,0.26-1.722-0.479-1.743-2.332c-0.016-1.86,0.784-3.082,1.691-3.339
		c0.9-0.268,1.576,0.491,1.591,2.344C571.885,423.005,571.233,424.218,570.331,424.48 M570.28,419.398
		c-0.676,0.192-1.213,1.261-1.197,2.596c0.015,1.359,0.558,2.107,1.234,1.891v0.014c0.668-0.195,1.221-1.265,1.198-2.613
		C571.508,419.94,570.942,419.202,570.28,419.398 M570.039,423.303l-0.405,0.116l-0.021-3.159l0.689-0.199
		c0.472-0.136,0.755,0.013,0.761,0.729c0,0.581-0.194,0.857-0.44,0.959l0.486,1.242l-0.458,0.138l-0.443-1.206l-0.181,0.043
		L570.039,423.303z M570.359,421.342c0.183-0.058,0.292-0.153,0.277-0.494c0-0.326-0.203-0.291-0.356-0.247l-0.268,0.087v0.757
		L570.359,421.342z" />
</g>
</svg>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {

            function PuedeIngresar(objError) {

                var usuario = $('#txtUsuario').val();
                var pass = $('#txtPass').val();

                if (pass == '' || pass == null || pass == undefined) {
                    objError.bPuede = false;
                    objError.msj = 'Debe ingresar la contraseña';
                }

                if (usuario == '' || usuario == null || usuario == undefined) {
                    objError.bPuede = false;
                    objError.msj = 'Debe ingresar el usuario';
                }

                return objError.bPuede;
            }

            function Limpiar() {
                $('#msjIngresar').css('display', 'block');
                $('#msjProcesar').css('display', 'none');
                $('#btnIngresar').prop('disabled', false);
            }

            ValidarUsuario = function () {

                var objError = {
                    bPuede: true,
                    msj: ''
                }

                if (PuedeIngresar(objError)) {
                    var usuario = $('#txtUsuario').val();
                    var pass = $('#txtPass').val();

                    console.log(usuario);
                    console.log(pass);

                    var dataToPost = {
                        Usuario: usuario,
                        Password: pass
                    }

                    $.ajax({

                        method: 'POST',
                        url: '@Url.Action("VerificarSesion","Login")',
                        data: { xoLogin: dataToPost },
                        success: function (response) {
                            if (response != '') {
                                $('#mensajeError').html(response);
                                $('#modalErrores').modal('show');
                                Limpiar();
                            }
                            else {
                                window.open('@Url.Action("Index","Home")', '_self');
                            }
                        },
                        error: function (error) {
                            $('#mensajeError').html(error);
                            $('#modalErrores').modal('show');
                            Limpiar();
                        }
                    });
                }
                else {
                    console.log(objError.msj);
                    $('#mensajeError').html(objError.msj);
                    $('#modalErrores').modal('show');
                    Limpiar();
                }
            }
        });

        $('#btnIngresar').on('click', function (e) {
            e.preventDefault();
            $btn = $(this);
            $('#msjIngresar').css('display', 'none');
            $('#msjProcesar').css('display', 'block');
            $btn.prop('disabled', true);
            setTimeout(function () {
                ValidarUsuario();
            }, 5000);
        });
    </script>
</body>
</html>
